<div class="form-container">

  <%= form_with url: registration_path(action: "create"), method: "post", class: "login-form" do |form| %>
    <div class="form-field">
      <%= form.text_field :first_name, required: true, autofocus: true, placeholder: "Prénom", maxlength: 72, class: "form-input" %>
    </div>

    <div class="form-field">
      <%= form.text_field :last_name, required: true, placeholder: "Nom de famille", maxlength: 72, class: "form-input" %>
    </div>

    <div class="form-field">
      <%= form.email_field :email_address, required: true, placeholder: "Adresse mail", maxlength: 72, class: "form-input" %>
    </div>

    <div class="form-field">
      <%= form.password_field :password, required: true, placeholder: "Mot de passe", maxlength: 72, class: "form-input" %>
    </div>

    <div class="form-field">
      <%= form.password_field :password_confirmation, required: true, placeholder: "Confirmer votre mot de passe", maxlength: 72, class: "form-input" %>
    </div>

    <div class="form-submit">
      <%= form.submit "S'inscrire", class: "submit-button" %>
    </div>

  <% end %> 

</div>
