
<body>
  <nav class="navbar">
    <ul class="navbar-links">
       <%= link_to "Accueil", root_path %>
       <%= link_to "Catalogue", items_path %>
       # a propos
       # contact
      
    </ul>

    <div class="navbar-right">
      <p> cart </p>
      
      <% if authenticated? %>
      
        <%= link_to "Profile", users_path, method: :delete, class: "button-link" %>

        <%= button_to "Sign out", session_path, method: :delete, class: "button-link" %>

      <% else %>
        
        <%= link_to "Sign in", new_session_path, class: "button-link" %>
          
        <%= link_to "Sign up", new_registration_path, class: "button-link" %>
       
      <% end %>
    </div>
  </nav>
</body>

<!-- Notice and Alert Messages -->
<div class="flash-messages">
  <% if flash[:alert] %>
    <div class="flash-message alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
  <% if flash[:notice] %>
    <div class="flash-message notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
</div>
</nav>
</html>