<div class="container mt-5">
  <h2 class="text-center mb-4">Nous contacter :</h2>
  <div class="row">
    <div class="col-md-6 text-start">
      <div class="d-flex align-items-center mb-4">
        <%= link_to "https://instagram.com", target: "_blank", class: "text-dark d-flex align-items-center" do %>
          <i class="fab fa-instagram fa-2x"></i>
          <span class="ms-3">Les Petits Chatons</span>
        <% end %>
      </div>
      <div class="d-flex align-items-center mb-4">
        <%= link_to "https://facebook.com", target: "_blank", class: "text-dark d-flex align-items-center" do %>
          <i class="fab fa-facebook fa-2x"></i>
          <span class="ms-3">Les Petits Chatons</span>
        <% end %>
      </div>
      <div class="d-flex align-items-center mb-4">
        <%= link_to "https://twitter.com", target: "_blank", class: "text-dark d-flex align-items-center" do %>
          <i class="fab fa-twitter fa-2x"></i>
          <span class="ms-3">Les Petits Chatons</span>
        <% end %>
      </div>
    </div>

    <div class="col-md-6 text-start">
      <div class="d-flex align-items-center mb-4">
        <%= link_to "https://googlemaps.com", target: "_blank", class: "text-dark d-flex align-items-center" do %>
          <i class="fas fa-map-marker-alt fa-2x text-dark"></i>
          <span class="ms-3">1 rue du Chat, 75000 CHATVILLE</span>
        <% end %>
      </div>
      <div class="d-flex align-items-center mb-4">
        <%= link_to "https://gmail.com", target: "_blank", class: "text-dark d-flex align-items-center" do %>
          <i class="fas fa-envelope fa-2x text-dark"></i>
          <span class="ms-3">lespetitschatons@gmail.com</span>
        <% end %>
      </div>
      <div class="d-flex align-items-center mb-4">
        <i class="fas fa-phone fa-2x text-dark"></i>
        <span class="ms-3">010203040506</span>
      </div>
    </div>
  </div>
</div>
